.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    background-color: #ca83fc;
}

.footerContainer {
    display: flex;
    flex-direction: column;    
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

.footerBrand {
    display: flex;
    align-items: center;
   margin-bottom: 10px;
}

.footerBrand h2 {
    font-size: 1.5rem;
}


.footerColumns {
    display: flex;
    justify-content: space-around;

    
    align-items: center;
    width: 90%;
    margin-bottom: 10px;
}

.footerColumns h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    /* center */
    text-align: center;

}

.footerColumns ul {
    list-style: none;
    padding: 10px;
    

}