@font-face {
  font-family: "ColfaxAI";
  src: url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff2)
      format("woff2"),
    url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ColfaxAI";
  src: url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff2) format("woff2"),
    url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff) format("woff");
  font-weight: bold;
  font-style: normal;
}
.main,
.main input {
  font-size: 16px;
  line-height: 24px;
  color: #353740;
  font-family: "ColfaxAI", Helvetica, sans-serif;
}
.main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 60px;
}
.main .icon {
  width: 34px;
}
.main h3 {
  font-size: 50px;
  line-height: 40px;
  font-weight: bold;
  color: #202123;
  margin: 16px 0 40px;
}
.main form {
  display: flex;
  flex-direction: column;
  width: 800px;
}

.main input[type="recepient"] {
  padding: 20px 10px;
  border: 1px solid #9119e8;
  border-radius: 4px;
  margin-bottom: 24px;
  outline-color: #9119e8;
}
.main input[type="prompt"] {
  padding: 40px 10px;
  border: 1px solid #9119e8;
  border-radius: 4px;
  margin-bottom: 24px;
  outline-color: #9119e8;
  resize: vertical;
  min-height: 50px;
  }
.main input[type="tone"] {
  padding: 40px 10px;
  border: 1px solid #9119e8;
  border-radius: 4px;
  margin-bottom: 24px;
  outline-color: #9119e8;
}
.main ::placeholder {
  color: #8e8ea0;
  opacity: 1;
}
.main input[type="submit"] {
  padding: 12px 0;
  color: #fff;
  background-color: #9119e8;
  border: none;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  flex: 1 0 50%;
}
.main .result {
  font-weight: bold;
  margin-top: 20px;
  width: 800px;
}

.toneBtns {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
}

.toneBtn {
  padding: 15px;
  color: #9119e8;
  border: none;
  border-radius: 20px;
  font-family: 'ColfaxAI';
  margin-right: 10px;
  background-color: white;
  cursor: pointer;
  border: 1px solid #9119e8;
  transition: ease-in-out 0.3s;
}

.selectedToneBtn {
  padding: 15px;
  background-color: #9119e8;
  border: none;
  border-radius: 20px;
  font-family: 'ColfaxAI';
  margin-right: 10px;
  color: white;
  cursor: pointer;
  transition: ease-in-out 0.3s;
}

.toneHeaderContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.toneHeader {

}
