.features {
    text-align: center;
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;

    background-image: url("/Waveline.svg");
    
    padding-bottom: 2em;
    
}

.featuresHeader {
    color: #ffffff;
    text-align: center;
    font-size: 3.5em;
    margin-top: 0em; 
    padding-top: 1em;

}

.featuresGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90%;
    margin: 0 auto;

}

.featureBox {
    margin: 0.5em;
    padding: 1em 3em;
    border-radius: 45px;
    background: #6A13AA;
    box-shadow:  5px 5px 15px #520f83,
                 -5px -5px 15px #8217d1;
    margin: 0.5em 1em;
    width: 30%;

}



.featureBox h3 {
    color: #fff;
    margin-bottom: 0.5em;
}

.featureBox p {
    color: #fff;
    margin-bottom: 0.5em;
}

/* mobile responsiveness if screen less than 700 wide */
@media (max-width: 700px) {
    
    .features{
        padding-bottom: 2em;
        width: 100%;
        /* there is white space to at the very right, remove it */
        margin: 0 auto;
    }
    .featuresGrid {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }

    .featureBox {
        
        /* make them all the same size */
        margin: 0.5em 0em;
        width: 25%;
        padding: 1em 1em;
    }

    .features h3 {
        font-size: 13px;
        text-align: center;



    }

    .features p {
        display: none;
    }
}